body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 

/* --------------------------- NAVBAR ------------------------- */

.offcanvas-body a {
  color: #4d4949; /* Change to your preferred color */
}

.offcanvas-body a:hover {
  color: #000000; /* Change to a darker shade for hover effect */
}

a.active {
  color: black; /* Cor do texto */
  font-size: x-large;
}


.navbar {
  margin: auto;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 100px; /* Arredonda os cantos da navbar ARRUMEI!!  */
}


.navbar a.active {
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100px;
  color: white;
  line-height: 15px;
  margin: 0 5px;
}

.navbar a {
  color: white;
  line-height: 15px;
  font-weight: regular;
  text-decoration: none;
  padding: 10px 5%;
  margin: 0 5px;
  text-align: center;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 15px;
  border-radius: 100px; /* Reduz um pouco o border-radius */
  color: white;
}

/* --------------------------- LOGIN BUTTON ------------------------- */
.login-link {
  display: inline-block; /* Permite definir margens */
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: orange;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #ff9900;
}

/* --------------------------- LOGO ------------------------- */
.logo {
  display: flex; /* Define o contêiner como flexível */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center;
  height: 40px; /* Ajuste a altura conforme necessário */
  margin: 10px auto; /* Espaço em volta da logo e centraliza horizontalmente */

  /* Remover align-items, pois não é aplicável ao elemento logo */
}


/* --------------------------- HOME PAGE ------------------------- */

.homeheader {
  display: flex; /* Utiliza flexbox para alinhar os itens na mesma linha */
  align-items: center; /* Alinha verticalmente os itens no centro */
  justify-content: space-between; /* Distribui o espaço entre os itens */
  padding: 42px 100px; /* Ajuste o espaçamento conforme necessário */
  top: 0; /* Coloca a navbar no topo da página */
  left: 0; /* Garante que a navbar fique alinhada à esquerda */
  right: 0; /* Garante que a navbar fique alinhada à direita */
  z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}

.home-fundo {
  background-image: url("../img/home-img.png"); 
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
  min-height: 900px; /* Ajuste esse valor conforme necessário */
}


/* --------------------------- SIGN UP PAGE ------------------------- */

.cadastro-container {
  background-color: white;
  padding: 10px; /* Reduzido o padding para trazer o conteúdo para cima */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
} 


.cadastro-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-container label {
  display: block;
  margin-bottom: 5px;
}

.cadastro-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.toggle-password {
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-top: -47px;
  z-index: 2;
}

.cadastro-container button {
  width: 100%;
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.cadastro-container button:hover {
  background-color: #45a049;
}

.termos-de-uso {
  display: flex;
  justify-content: left;
  align-content: center;
  margin: auto;
}

.termos-de-uso input {
  width: auto;
}

.invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.valid {
  background-color: white;
  border: none;
  outline: 2px solid green;
  border-radius: 5px;
 } 